{{define "ch03/test.html"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
    <p>模块语法</p>
    {{.name}}
    {{range .arr}}
        {{.}}
    {{end}}

    <br>
    {{range $i,$v := .arr}}
        {{$i}} {{$v}}
        <br>
    {{end}}

    {{.article.Id}}
    {{.article.Title}}
    {{.article.Desc}}
    <br>
    {{with .article1}}
        {{.Id}}
        {{.Title}}
        {{.Desc}}
    {{else}}
        没有数据
    {{end}}
    <br>
    {{template "ch03/base.html" .}}
    </body>
    </html>
{{end}}